﻿@model IEnumerable<Project2.Models.Prompt>
@{
    Layout = null;
   // ViewData["Title"] = "To-do list";
}

<!DOCTYPE html>

<html>
<head>
    <title>To-do list</title>
</head>
<body>
    <h3>affairs</h3>
    <form action="/Home/Add" >
        <div><input name="heading" type="text" /> <input type="submit" value="Add" /></div>
    </form>
    <table>
        <thead>
            <tr>
                <th>heading</th>
                <th>Status</th>
                <th>Press to edit status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prompt in Model)
            {
                <tr>
                    <td>@prompt.Headline</td>
                    <td>@prompt.Status</td>
                    <td><a href="/Home/Edit/@prompt.Id">Edit</a></td>
                    <td><a href="/Home/Remove/@prompt.Id">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
